<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" class="form-example">

        <div class="form-example">
            <label for="subject">Enter your subject: </label>
            <input type="text" name="subject" id="subject" required />
          </div>
        <div class="form-example">
            <label for="content">Enter your content: </label>
            <textarea name="message" id="content"></textarea>
          </div>
        <div class="form-example">
          <input type="submit" value="Subscribe!" />
        </div>
      </form>
</body>
</html>