<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quillwave - Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>
    <header>
        <div class="masterContainer">
            <div>
                <a href="./home.html"><img src="../static/images/navLogo.png" alt=""></a>
            </div>
            <div id="navLinks">
                <div class="navItems"><a href="./about.html">About</a></div>
                <div class="navItems"><a href="">Contact</a></div>
                <div class="navItems"><a href="./signin.html">Sign in</a></div>
            </div>
            

        </div>
    </header>
    <main>
        <div class="masterContainer" id="onYourMind">
            <section>
                <div class="textCreator">
                    <img src="../static/images/Saatvik.jpg" alt="" class="profilePic">
                    <input name="" id="" placeholder="What's on your mind? " onclick="window.location.href='create.html'">
                </div>
                <div class="features">
                    <div>
                        <button>
                            <img src="../static/images/icons/gallery.png" alt="">
                        </button>
                        <button>
                            <img src="../static/images/icons/emoji.png" alt="">
                        </button>
                        <button>
                            <img src="../static/images/icons/attatch.png" alt="">
                        </button>
                        <button id="location">
                            <img src="../static/images/icons/location.png" alt="">
                        </button>
                        
                    </div>
                    <div>
                        <button>Post</button>
                    </div>
                    
                </div>
            </section>


            

        </div>
        <h3>For You</h3>
        <div class="masterContainer" id="allPosts">
            <!-- <h3>For You</h3> -->
            <section class="postsSection">
                <div class="metaData">
                    <div>
                        <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
                    </div>
                    <div class="nameAndTime">
                        <h4>
                            Robert Owen
                        </h4>
                        <p> 34 minutes ago</p>
                    </div>
                </div>

                <div class="blogTrailer">
                    <div class="trailerText">
                        <h2>Scientists: After You Die You Will Become Music</h2>
                        <hr>
                        <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? Wouldn’t you like to hear this celestial music now, while you’re still alive? Great news. You can! Read on.</p>
                        <div class="trailerIcons">
                            <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                             
                        </div>
                        <div class="editIcons">
                            <button class="iconsButton"><img src="../static/images/icons/edit.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/delete.png" alt="" class="icons"></button>
                        </div>
                    </div>
                    <div class="trailerImage">
                        <img src="../static/images/Blogs/cosmos.png" alt="">
                    </div>
                </div>
            </section>

            <section class="postsSection">
                <div class="metaData">
                    <div>
                        <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
                    </div>
                    <div class="nameAndTime">
                        <h4>Alex Carter</h4>
                        <p>12 minutes ago</p>
                    </div>
                </div>
                <div class="blogTrailer">
                    <div class="trailerText">
                        <h2>The Secret Power of Dreams: Are They Parallel Universes?</h2>
                        <hr>
                        <p>What if your dreams are glimpses into another reality? Scientists and mystics alike have pondered this question for centuries. Dive into the mind-bending world of dreams.</p>
                        <div class="trailerIcons">
                            <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                        </div>
                        <div class="editIcons">
                            <button class="iconsButton"><img src="../static/images/icons/edit.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/delete.png" alt="" class="icons"></button>
                        </div>
                    </div>
                    <div class="trailerImage">
                        <img src="../static/images/Blogs/parallel.jpg" alt="">
                    </div>
                </div>
            </section>
            
            <section class="postsSection">
                <div class="metaData">
                    <div>
                        <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
                    </div>
                    <div class="nameAndTime">
                        <h4>Sophia Reynolds</h4>
                        <p>25 minutes ago</p>
                    </div>
                </div>
                <div class="blogTrailer">
                    <div class="trailerText">
                        <h2>Time Travel is Real: Scientists Unveil Groundbreaking Theory</h2>
                        <hr>
                        <p>New quantum mechanics research suggests that time travel might not just be science fiction. Could we be on the verge of breaking the barriers of time?</p>
                        <div class="trailerIcons">
                            <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                        </div>
                        <div class="editIcons">
                            <button class="iconsButton"><img src="../static/images/icons/edit.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/delete.png" alt="" class="icons"></button>
                        </div>
                    </div>
                    <div class="trailerImage">
                        <img src="../static/images/Blogs/theory.jpg" alt="">
                    </div>
                </div>
            </section>
            
            <section class="postsSection">
                <div class="metaData">
                    <div>
                        <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
                    </div>
                    <div class="nameAndTime">
                        <h4>Daniel Harper</h4>
                        <p>40 minutes ago</p>
                    </div>
                </div>
                <div class="blogTrailer">
                    <div class="trailerText">
                        <h2>Is The Universe A Simulation? Scientists Are Taking It Seriously</h2>
                        <hr>
                        <p>Are we living inside an advanced computer program? Scientists are now actively researching whether our reality is an illusion. Read on to find out more.</p>
                        <div class="trailerIcons">
                            <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                        </div>
                        <div class="editIcons">
                            <button class="iconsButton"><img src="../static/images/icons/edit.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/delete.png" alt="" class="icons"></button>
                        </div>
                    </div>
                    <div class="trailerImage">
                        <img src="../static/images/Blogs/simulation.jpg" alt="">
                    </div>
                </div>
            </section>
            
            <section class="postsSection">
                <div class="metaData">
                    <div>
                        <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
                    </div>
                    <div class="nameAndTime">
                        <h4>Emily Watson</h4>
                        <p>1 hour ago</p>
                    </div>
                </div>
                <div class="blogTrailer">
                    <div class="trailerText">
                        <h2>Why Some People Hear Colors: The Mystery of Synesthesia</h2>
                        <hr>
                        <p>Ever heard of people tasting words or seeing colors when they hear music? This rare neurological condition may hold the key to understanding human perception.</p>
                        <div class="trailerIcons">
                            <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                        </div>
                        <div class="editIcons">
                            <button class="iconsButton"><img src="../static/images/icons/edit.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/delete.png" alt="" class="icons"></button>
                        </div>
                    </div>
                    <div class="trailerImage">
                        <img src="../static/images/Blogs/colors.jpg" alt="">
                    </div>
                </div>
            </section>

            <section class="postsSection">
                <div class="metaData">
                    <div>
                        <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
                    </div>
                    <div class="nameAndTime">
                        <h4>Liam Johnson</h4>
                        <p>15 minutes ago</p>
                    </div>
                </div>
                <div class="blogTrailer">
                    <div class="trailerText">
                        <h2>NASA Discovers a Planet That Could Support Alien Life</h2>
                        <hr>
                        <p>Scientists have discovered an Earth-like planet in the habitable zone of a distant star. Could this be the first step in finding extraterrestrial life?</p>
                        <div class="trailerIcons">
                            <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                        </div>
                        <div class="editIcons">
                            <button class="iconsButton"><img src="../static/images/icons/edit.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/delete.png" alt="" class="icons"></button>
                        </div>
                    </div>
                    <div class="trailerImage">
                        <img src="../static/images/Blogs/NASA.jpg" alt="">
                    </div>
                </div>
            </section>
            
            <section class="postsSection">
                <div class="metaData">
                    <div>
                        <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
                    </div>
                    <div class="nameAndTime">
                        <h4>Olivia Bennett</h4>
                        <p>30 minutes ago</p>
                    </div>
                </div>
                <div class="blogTrailer">
                    <div class="trailerText">
                        <h2>Can Your Thoughts Shape Reality? Scientists Weigh In</h2>
                        <hr>
                        <p>New studies suggest that human consciousness might have the power to influence physical reality. Is the law of attraction more than just a theory?</p>
                        <div class="trailerIcons">
                            <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                        </div>
                        <div class="editIcons">
                            <button class="iconsButton"><img src="../static/images/icons/edit.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/delete.png" alt="" class="icons"></button>
                        </div>
                    </div>
                    <div class="trailerImage">
                        <img src="../static/images/Blogs/thoughts.jpg" alt="">
                    </div>
                </div>
            </section>
            
            <section class="postsSection">
                <div class="metaData">
                    <div>
                        <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
                    </div>
                    <div class="nameAndTime">
                        <h4>James Richardson</h4>
                        <p>45 minutes ago</p>
                    </div>
                </div>
                <div class="blogTrailer">
                    <div class="trailerText">
                        <h2>Scientists Confirm: Music Has the Power to Heal the Brain</h2>
                        <hr>
                        <p>Recent research proves that music therapy can help people recover from brain injuries, reduce stress, and even enhance memory. How does it work?</p>
                        <div class="trailerIcons">
                            <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                        </div>
                        <div class="editIcons">
                            <button class="iconsButton"><img src="../static/images/icons/edit.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/delete.png" alt="" class="icons"></button>
                        </div>
                    </div>
                    <div class="trailerImage">
                        <img src="../static/images/Blogs/Music.jpg" alt="">
                    </div>
                </div>
            </section>
            
            <section class="postsSection">
                <div class="metaData">
                    <div>
                        <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
                    </div>
                    <div class="nameAndTime">
                        <h4>Grace Thompson</h4>
                        <p>1 hour ago</p>
                    </div>
                </div>
                <div class="blogTrailer">
                    <div class="trailerText">
                        <h2>Lucid Dreaming: A Guide to Controlling Your Dreams</h2>
                        <hr>
                        <p>Imagine waking up inside your dream and taking full control. Science now offers techniques to help you experience lucid dreaming. Are you ready?</p>
                        <div class="trailerIcons">
                            <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                        </div>
                        <div class="editIcons">
                            <button class="iconsButton"><img src="../static/images/icons/edit.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/delete.png" alt="" class="icons"></button>
                        </div>
                    </div>
                    <div class="trailerImage">
                        <img src="../static/images/Blogs/dreaming.jpg" alt="">
                    </div>
                </div>
            </section>
            
            <section class="postsSection">
                <div class="metaData">
                    <div>
                        <img src="../static/images/jamie.jpeg" alt="" class="profilePic">
                    </div>
                    <div class="nameAndTime">
                        <h4>Ethan Collins</h4>
                        <p>2 hours ago</p>
                    </div>
                </div>
                <div class="blogTrailer">
                    <div class="trailerText">
                        <h2>Are Black Holes Portals to Another Universe?</h2>
                        <hr>
                        <p>New theories suggest that black holes could be more than just cosmic voids. Could they actually be doorways to parallel universes?</p>
                        <div class="trailerIcons">
                            <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                        </div>
                        <div class="editIcons">
                            <button class="iconsButton"><img src="../static/images/icons/edit.png" alt="" class="icons"></button>
                            <button class="iconsButton"><img src="../static/images/icons/delete.png" alt="" class="icons"></button>
                        </div>
                    </div>
                    <div class="trailerImage">
                        <img src="../static/images/Blogs/portal.jpg" alt="">
                    </div>
                </div>
            </section>
            
            
        </div>
    </main>

    <footer>
        <div class="footerContainer">
            <div class="footerLinks">
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </div>
            <p>&copy; 2025 Quillwave. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>