<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Quillwave - User Profile</title>
    <link rel="stylesheet" href="../static/css/profile.css">
</head>
<body>
    <header>
        <div class="masterContainer">
            <div>
                <a href="./home.html"><img src="../static/images/navLogo.png" alt=""></a>
            </div>
            <div id="navLinks">
                <div class="navItems"><a href="./about.html">About</a></div>
                <div class="navItems"><a href="">Contact</a></div>
                <div class="navItems"><a href="./signin.html">Sign in</a></div>
                
            </div>
            

        </div>
    </header>
    <section id="coverPhoto">
        
        <div class="bigProfilePic">
            <img src="../static/images/sharthak.jpg" alt="">
        </div>
    </section>
    
    <section>
        <div id="metaData">
        
            <div class="metaDataKids">
                <div>
                    <h3>Sharthak Dey</h3>
                </div>
                <div>
                    <img src="../static/images/icons/location.png" alt="">
                    <p>Assam, India</p>
                </div>
            </div>
            
            <div id="numbersNcreate">
                <div class="create">
                    <button><img src="../static/images/icons/create2.png" alt=""></button>
        
                </div>
                <div class="numbers">
                    <div><h3>51</h3><p>Posts</p></div>
                    <div><h3>3.1 M</h3><p>Followers</p></div>
                    <div><h3>261</h3><p>Following</p></div>    
                </div>
                
            </div>
            
        </div>
    </section>
    
    <main>

        <div class="masterContainer">
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            <div class="postCards">
                <div class="trailerText">
                    <h2>Scientists: After You Die You Will Become Music</h2>
                    <hr>
                    <p>We cannot currently hear the music of our souls because our ego’s noise is so deafening. But why wait? </p>
                    <div class="trailerIcons">
                        <button class="iconsButton"><img src="../static/images/icons/like2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/comment2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/share2.png" alt="" class="icons"></button>
                        <button class="iconsButton"><img src="../static/images/icons/save2.png" alt="" class="icons"></button>
                         
                    </div>
                </div>
                <div class="trailerImage">
                    <img src="../static/images/Blogs/cosmos.png" alt="">
                </div>
            </div>
            
        </div>
    </main>

    <footer>
        <div class="footerContainer">
            <div class="footerLinks">
                <a href="#">About</a>
                <a href="#">Contact</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Terms of Service</a>
            </div>
            <p>&copy; 2025 Quillwave. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>